################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/obj
**/bin
**/x64
**/Release
**/Debug
**/.vs
**/.vscode
**/obj
**/bin
**/temp
**/x64
**/Debug
**/Release
**/.idea/
*.suo
*.tlog
*.metaproj
*.metaproj.tmp
*.cache
*.user
*.db
*.opendb
*.coverage
*.db
*.opendb
*.user
*.filters
/packages
/bin
/hooks
/ipch/SLB.TAIJI.APP.BHA.DMEngine-2e4e02eb
/.vs/config
/.vs
*.coverage
/TestResults
